# DATA CLEANSING FOR SOME "NUMERICAL" VARIABLES

* Functions to replace nulls by last item:

In [1]:
# v2
# inSeries has to be inputted in ascendent order
def take_first_back_or_zero(inGroup):
    wrongData = inGroup[ np.isnan(inGroup) ]
    k = 0
    for index,value in wrongData.iteritems():
        backData = inGroup.iloc[ 0:inGroup.index.get_loc(index) ]
        if backData.empty:
            inGroup.loc[ index ] = 0
#             out[k,:] = np.array([index , 0])
        else:
            inGroup.loc[ index ] = backData.iloc[-1]
#             out[k,:] = np.array([index , backData.iloc[-1]])
#         k += 1
    return inGroup

# tardó 40mins para la variable VAR = 'mora_max'

In [2]:
def first_back_or_zero(dataframe):
    # replacing np.nan for last value or zero
    wrongCli = dataframe[ np.isnan(df[VAR]) ]['id_cli'].unique()
    newDataVAR = dataframe[dataframe.id_cli.isin( wrongCli ) ].sort_values(by='periodo').groupby('id_cli')[VAR].apply(take_first_back_or_zero)

    # assing new values to original dataframe
    dataframe.iloc[newDataVAR.index.values , dataframe.columns.get_loc(VAR) ] = newDataVAR.values
    return dataframe

In [ ]:
def tofloat_and_no_negatives(dataframe):
# data cleansing: null to np.nan
    dataframe[VAR] = pd.to_numeric( dataframe[VAR] , downcast = 'float' )

    # triming negative values
    dataframe[VAR] = dataframe[VAR].clip(lower = 0)
    return dataframe

## Reading periodo and id_cli:

In [1]:
import numpy as np
import pandas as pd

headers = pd.read_csv( './../Data/Dataton_train/header.txt' , sep= ',', header=None,encoding='utf-8')
headers = headers.values.tolist()[0]

fieldsToSelect = ['periodo', 'id_cli']

df = pd.read_csv('./../Data/Dataton_train/Dataton_train_semicolon.csv',
                 header = None,  names=headers, sep=';', #iterator=True, chunksize=1000000,
                 skipinitialspace=True, usecols=fieldsToSelect, na_values='\\N')

# See the keys
print( df.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20988748 entries, 0 to 20988747
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   periodo  int64
 1   id_cli   int64
dtypes: int64(2)
memory usage: 320.3 MB
None

# > Sección
## (x) mora_max
## (x) cant_moras_90_ult_12_meses
## (x) cant_mora_30_tdc_ult_3m_sf
## (x) cant_mora_30_consum_ult_3m_sf
## (x) cant_oblig_tot_sf
## ( ) ind
## (x) ctas_activas
## (x) nro_tot_cuentas
## (x) ctas_embargadas

In [15]:
## removing last variables

# df.drop('ctas_activas', inplace=True, axis=1)

> reading data for specific variable:

In [16]:
import numpy as np
import pandas as pd

VAR = ['ind']


headers = pd.read_csv( './../Data/Dataton_train/header.txt' , sep= ',', header=None,encoding='utf-8')
headers = headers.values.tolist()[0]

df[ VAR[0] ] = pd.read_csv('./../Data/Dataton_train/Dataton_train_semicolon.csv',
                 header = None,  names=headers, sep=';', #iterator=True, chunksize=1000000,
                 skipinitialspace=True, usecols=VAR, na_values='\\N')

In [17]:
# selecting variable
VAR = VAR[0]

In [20]:
df = tofloat_and_no_negatives(df)
df = first_back_or_zero(df)

In [8]:
# save new data into new file
output_folder = './../Data/DataCleaned/'
compression_opts = dict(method='zip', archive_name = VAR + '.csv')  

df[VAR].to_csv( output_folder + VAR + '.zip', sep=';', header = True, index=False, compression=compression_opts) 

print('listo: {}'.format(VAR) )

listo: ind

In [9]:
# mora_max: TODO EMPEZÓ A LAS 1506h - 1508h (22 mins)
# cant_moras_90_ult_12_meses: TODO EMPEZÓ A LAS 1550 - 1620 (30 mins)
# cant_mora_30_tdc_ult_3m_sf: 1622h - 1640h (18mins)

# extra code tests:

In [2]:
df

          periodo   id_cli
0          201908  2089776
1          201909  2089776
2          201907  2089776
3          201903  2089776
4          201911  2089776
...           ...      ...
20988743   201910  2090044
20988744   202002  2090044
20988745   201903  2090044
20988746   202001  2090044
20988747   202004  2090044

[20988748 rows x 2 columns]

In [6]:
df2 = df.copy()
df2.columns = ['a', 'b']
df2

               a        b
0         201908  2089776
1         201909  2089776
2         201907  2089776
3         201903  2089776
4         201911  2089776
...          ...      ...
20988743  201910  2090044
20988744  202002  2090044
20988745  201903  2090044
20988746  202001  2090044
20988747  202004  2090044

[20988748 rows x 2 columns]